# Pandas

In [ ]:
import pandas as pd
import numpy as np

## Series

O objeto fundamental do Pandas são as **Series**, uma classe do pandas.

As Series são as **colunas das tabelas** (que veremos mais a frente), e por baixo dos panos, os dados ficam armazenados como **numpy arrays**!

A diferença é que a série possui um **índice associado**, permitindo o acesso aos conteúdos dessa estrutura por ele, como um dicionário.

Além disso, as séries têm métodos específicos além dos que vimos pra arrays, o que será super útil!

Podemos criar uma série **a partir de uma lista**, usando a função do pandas `pd.Series()`:

In [ ]:
lista = [4, 6, 3, 7, 25]
pd.Series(lista)

Outra forma bem natural de construir séries é apartir de um **dicionário**

Neste caso, as **chaves** se tornam as labels de índice!

In [ ]:
dic = {"a": 50, "b" : 42}
pd.Series(dic)

Trabalhando com índices

In [ ]:
indices = ["a", "b", "c", "d", "e"]
serie_pandas = pd.Series(data=lista, index=indices, name="coluna1")

Podemos realizar o slicing na nossa Pandas Series da mesma forma como fizemos em listas e arrays, mas veja que agora os índices são letras, podemos utilizá-las para realizar o slicing ou a busca.

In [ ]:
print(serie_pandas['a'])
print(serie_pandas[0])

Da mesma forma como vimos anteriormente, é possível realizar máscaras booleanas dentro da minha série.

In [ ]:
np.random.seed(42)

notas = pd.Series(np.random.randint(3, 12, 30))

# Máscara booleana simples
notas[notas >= 0]

In [ ]:
# Podemos utiilzar mais de um critério ao mesmo tempo com o E (AND)
notas[((notas >= 0) & (notas <= 10))]

In [ ]:
# Podemos utiilzar mais de um critério ao mesmo tempo com o OU (OR)
notas[((notas >= 0) | (notas <= 10))]

In [ ]:
# E também fazer o inverso
notas[~((notas >= 0) & (notas <= 10))]

É possivel também ordenar os dados a partir de uma coluna com o **.sort_values()**

In [ ]:
notas.sort_values(ascending=False)

Para encontrar valores únicos podemos utilizar o atributo **.unique()**

In [ ]:
notas.unique()

Podemos mostrar a frequência absoluta com o atributo **.value_counts()**

In [ ]:
notas.value_counts()

In [ ]:
# frequencia relativa
notas.value_counts(normalize=True)

### DataFrame

Agora que conhecemos as séries, vamos partir pro objeto do Pandas que mais utilizaremos: o **DataFrame**

Como veremos a seguir, o DataFrame é uma estrutura que se assemalha a uma **tabela**.

Estruturalmente, o DataFrame nada mais é que um **conjunto de Series**, uma para cada coluna (e, claro, com mesmo índice, que irão indexar as linhas).
  
Veremos depois como **ler um dataframe a partir de um arquivo** (que é provavelmente a forma mais comum)

Há muitas formas de construir um DataFrame do zero. Todas elas fazem uso da função **pd.DataFrame()**, como veremos a seguir.

Se quisermos especificar os índices de linha, o nome das colunas, e os dados, podemos passá-los separadamente:

In [ ]:
# gerando uma matriz (5, 3) de numeros inteiros aleatórios entre -100 e 100
# use a seed 42

np.random.seed(42)

m = np.random.randint(-100, 100, (5, 3))

m

In [ ]:
pd.DataFrame(m)

In [ ]:
df_nome_linhas = pd.DataFrame(m, 
                              index = ["obs1", "obs2", "obs3", "obs4", "obs5"], 
                              columns = ["variável 1", 'variável 2', "variável 3"])

df_nome_linhas

A partir de um arquivo

In [ ]:
df = pd.read_table('dados_religiao_income.txt',
                   header=0, sep=' ')

In [ ]:
df

O potencial do pandas é melhor aproveitado quando usamos o conceito de "tidy data" para organizarmos nossos dados.

Nos dados acima, eles estão pivoteados por segmentos de rendimento.

Vamos então tentar ajustar isso.

Para listarmos as colunas o DataFrame possui um atributo .columns que imprime esta informação em formato de lista.

In [ ]:
df.columns

In [ ]:
# Veja que podemos trabalhar como listas normalmente
value_cols = [col for col in df.columns if col != 'religion']
value_cols

## Funções Pandas
  
### melt  
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.melt.html

In [ ]:
# Podemos utilizar a função do Pandas .melt para alterar a visão do dataframe
new_df = pd.melt(df, id_vars=['religion'], 
                 value_vars=value_cols,
                 var_name='income', 
                 value_name='freq')

new_df

### pivot_table

In [ ]:
# Podemos voltar para o formato anterior, que facilita apresentações para o negócio.
# Usamos o método pivot.
new_df.pivot(index='religion', columns='income', values='freq')

In [ ]:
new_df.pivot_table(index='religion', columns='income', values='freq', aggfunc='mean')

### Concat  
  
É possível realizar a concatenação de dois ou mais dataframes por meio do método "concat".

In [ ]:
# Criação de DataFrames por meio de dicionários
df1 = pd.DataFrame({'nome':['eu', 'tu', 'ele/ela'],
                    'val':[1, 1, 1]})

# Criação de DataFrames por meio de listas
lista_valores = [['nós', 2],
                 ['vós', 2],
                 ['eles/elas', 2]]
df2 = pd.DataFrame(lista_valores, columns=['nome', 'val'])
df2

In [ ]:
# Repare que por padrão o pandas já realiza o empilhamento dos dois dataframes, mas os índices estão confusos
pd.concat([df1, df2])

In [ ]:
# Utilizamos o método .copy() para fazermos uma cópia do dataframe
new_df2 = df2.copy()

# O atributo .index do dataframe chama os índices
new_df2.index = [4, 5, 6]

In [ ]:
new_df2

Caso se queira colocar um do lado do outro, invés de em cima, usamos o parâmetro "axis".

In [ ]:
# Agora ao passarmos o axis=1 ele entende que desejamos realizar uma concatenação "lateral" - também conhecido como merge
pd.concat([df1, df2], axis=1)

In [ ]:
pd.concat([df1, new_df2], axis=1)

### Rename
  
O rename é utilizado para renomear labels do dataframe

In [ ]:
# Para renomearmos as colunas de um dataframe utilizamos um dicionário tendo como chave o valor antigo e valor o novo
df1.rename(columns={'nome': 'nome_alterado'})

In [ ]:
df1.columns = ['nome_modificado', 'valor']
df1.head()

## Exploração de dados: Estatísticas

In [ ]:
df = pd.read_table('dados_parciais.txt', sep=';', decimal=',')

### Head

In [ ]:
# O head é utilizado para observarmos o início de um dataframe
df.head(3)

### Tail

In [ ]:
# O tail é utilizado para observarmos o final de um dataframe
df.tail(3)

### Describe

In [ ]:
# Podemos sumarizar algumas estatísticas de várias colunas de uma única vez.
df.describe()

In [ ]:
stats = df.describe()
type(stats)

In [ ]:
stats['pop_urbana']

In [ ]:
salarios = [5000, 3000, 6000, 15000, 4000, 45000, 40000, 50000]

import numpy as np

print('Média:', np.mean(salarios))
print('Mediana:', np.median(salarios))

### Outras estatísticas

In [ ]:
# calculando uma estatística por vez
df.mean()

In [ ]:
df.median()

In [ ]:
df.quantile([0.25, 0.75])

In [ ]:
df.quantile([0.01, 0.99])

In [ ]:
df.min(numeric_only=True)

In [ ]:
df.head()

In [ ]:
# se quisermos estatísticas separadas por região
df.groupby('regiao').mean()

### Importando novo Dataframe

In [ ]:
# importando o dataframe de municípios
df_muni = pd.read_table('populacao_brasileira_por_municipio.txt')

In [ ]:
# importando o dataframe de municípios
df_muni = pd.read_table('populacao_brasileira_por_municipio.txt',
                        sep=';', thousands='.')

In [ ]:
df_muni.head(10)

### Colunas
  
Podemos acessar os dados de uma colunas de três métodos

In [ ]:
df.uf

In [ ]:
type(df.uf)

In [ ]:
df['uf']

In [ ]:
type(df['uf'])

In [ ]:
# terceira forma - retorna um dataframe
df[['uf']]

In [ ]:
type(df[['uf']])

### Query
  
O método query permite realizar filtros dentro do nosso dataframe semelhante ao utilizado na linguagem SQL na clausula where

In [ ]:
# quero saber quais cidades tem população urbana > 500000
df.query('pop_urbana > 500000')

In [ ]:
# podemos usar uma variável
limite = 500000
df.query("`pop_urbana` > @limite")

### .loc e .iloc

In [ ]:
# .loc usado para pesquisar índices e colunas explicitamente

# quero a população urbana da segunda linha do dataset
df.loc[1, 'pop_urbana']

In [ ]:
# qual estado corresponde à segunda linha do dataset
df.loc[1, :]

In [ ]:
# posso usar lógicas para filtrar o dataset

# quais estados pertencem à região NE?
df.loc[df.regiao == 'Nordeste', 'uf']

In [ ]:
# quais estados pertencem à região NE e N?
df.loc[(df.regiao == 'Nordeste') | (df.regiao == 'Norte'), 'uf']

In [ ]:
# iloc faz a referência aos índices e colunas de forma implícita
df.iloc[2, 2]

In [ ]:
# definir a coluna uf como a coluna de índice
df = df.set_index(['uf'])
df.head()

In [ ]:
# desejo obter a população rural do AC

# loc (explícito)
print('Valor desejado', df.loc['AC', 'pop_rural'])

# iloc (implícito)
print('Valor desejado', df.iloc[1, 3])

In [ ]:
# queremos as cidades que têm menos de 500000 habitantes (total)
df.loc[df.total < 500000, :].head(1)

### Operações matemáticas

In [ ]:
# quero saber a razão entre as população urbana e a população rural
df['razao_urbana_rural'] = df['pop_urbana'] / df['pop_rural']
df.head()

In [ ]:
# se eu chamar uma coluna inexiste em modo de leitura
df['frac_urbana']

In [ ]:
# calcular a fração da população urbana sobre a geral
df['frac_urbana'] = df['pop_urbana'] / df['total']

In [ ]:
# iterar por cada linha e atribuir 1 se frac_urbana > 0.7 e 0 caso contrário
for uf in df.index:
    if df.loc[uf, 'frac_urbana'] > 0.7:
        df.loc[uf, 'indicador'] = 1
    else:
        df.loc[uf, 'indicador'] = 0

In [ ]:
df['indicador'] = df['frac_urbana'].apply(lambda x: 1 if x > 0.7 else 0)

In [ ]:
df.head()

In [ ]:
ponto_cardeal = {
    'Nordeste': 'NE',
    'Centro-Oeste': 'CO',
    'Sul': 'S',
    'Sudeste': 'SE'
}

# podemos fazer transformações com dicionários
df['regiao_pc'] = df['regiao'].map(ponto_cardeal)
df.head()

In [ ]:
def soma_quadrados(row):

  soma = (row['pop_urbana']**2 + row['pop_rural']**2) / (row['total'] ** 2)

  return soma

In [ ]:
# usando o apply em múltiplas colunas
df['indicador2'] = df.apply(soma_quadrados, axis=1)

df.head()

### Merge (join)

Outra tarefa muito comum quando estamos trabalhando com bases de dados é o **cruzamento**

Para fazer isso, utilizamos o método **.merge()**, cujos modos de cruzamento são:

<img src="https://community.qlik.com/legacyfs/online/87693_all-joins.png" width=450>

In [ ]:
lista_on_left = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lista_on_right = [1, 3, 5, 7, 9, 11]

In [ ]:
dict_left = {'coluna_on': lista_on_left, 'valores_esquerda': lista_on_left}
dict_right = {'coluna_on': lista_on_right, 'valores_direita': lista_on_right}

df_left = pd.DataFrame(dict_left)
df_left

In [ ]:
df_right = pd.DataFrame(dict_right)
df_right

In [ ]:
df_left.merge(df_right, how='outer')

In [ ]:
df_muni.head()

In [ ]:
df.head()

In [ ]:
# retirar o uf dos índices
df = df.reset_index()
df.head()

In [ ]:
df_reg = df_muni.merge(df, left_on=['UF'], right_on=['uf'], how='left')
df_reg.head(20)

In [ ]:
# quero a média e o desvio padrão da população estimada por região
df_reg.groupby('regiao').agg({'POPULAÇÃO ESTIMADA': ['mean', 'std', 'median']})

**Bora praticar!**
  
1) Utilizando o DataFrame importado anteriormente (alunos3.csv) calcule a média das provas em uma nova coluna chamada (Media_provas)

2) Quem foram os alunos que obtiveram a maior e a menor média

3) Agora una este dataframe com o cadastro_alunos.xlsx

4) Qual a média entre as Media_provas dentro do público feminino? e masculino?

5) Qual a média de idade das pessoas que obtiveram Media_provas maior ou igual a 7?

6) Faça um código para verificar o ordem das médias de Media_provas entre as cidades, mostrando o valor para cada uma bem como ordenando de forma decrescente?